@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  place-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #111927;
}

#root {
  width: 100%;
}