@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  place-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #111927;
}

#root {
  width: 100%;
}
.css-code {
  scroll-behavior: smooth;
}

.css-code::-webkit-scrollbar {
  height: 8px;
}

.css-code::-webkit-scrollbar-track {
  background-color: transparent;
}

.css-code::-webkit-scrollbar-thumb {
  background-color: #fbbf24;
  border-radius: 10px;
}
